.app-container {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 500px;
  margin: 0 auto;
}

#message-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0 0 0;
  width: 100%;
  height: 200px;
  overflow-y: auto;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-box {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 8px;
  border: none;
}

.button {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-radius: 0;
  border: none;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: black;
  background: #cccccc2e;
}

#send-btn {
  background: #25d366;
}

.input-container-item {
  margin: 5px 0 0 0;
}
